################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Arrays/bin/Debug/net7.0
/Arrays/obj
/ArraysTests/bin
/ArraysTests/obj
/HashTable/bin/Debug/net7.0
/HashTable/obj
/HashTableTests/bin
/HashTableTests/obj
/obj
/leet-code-explore/.vs/leet-code-explore
/leet-code-explore/.vs/ProjectEvaluation
/Recursion/bin/Debug/net7.0
/Recursion/obj
/DataStructure/bin/Debug/net7.0
/DataStructure/obj
/DynamicProgramming/obj/Debug/net7.0
/DynamicProgramming/obj
/Graph/obj
/DynamicProgramming/bin/Debug/net7.0
/Graph/bin/Debug/net7.0
/BinarySearch/obj
/BinarySearch/bin/Debug/net7.0
/ArraysAndStrings/obj
/ArraysAndStrings/bin/Debug/net7.0
/QueueAndStack/obj
/QueueAndStack/bin/Debug/net7.0
